page-home {
.list{
    margin:10px;
}
[ion-item]{
    padding: 10px;
    margin-top: 10px;
    background-color: beige;
    border-radius:20px;
    color:brown;
}
.lesson{
    color:purple;
}
.item p{
    color:pink;
}
.list-header{
    background-color:  beige;
    height:60px;
    border-radius:20px;
    color:brown;
}
.b{
    background-color:rgb(180, 128, 180);
}

[ion-card]{
    background-color:pink;
    
}
.t{background-color: 
    pink;}
}
