
<ion-header>
    <ion-navbar>
      <ion-title>
       
      </ion-title>
    </ion-navbar>
   </ion-header>
   
   <ion-content class="b" padding>
   <ion-list no-lines>
    <ion-list-header>
      CodeTribe Curriculum
    </ion-list-header>
   </ion-list>

   <button ion-item *ngFor="let course of arrcourses" (click)="submit(course)">

   <ion-icon name="{{course.icon}}" item-left></ion-icon>
   
   <h2>course:{{course.number}}</h2>
   <h2 >{{course.title}}</h2>
   <h2>duration:{{course.weeks}}</h2>
   
   <div *ngFor= "let lesson of course.lessons, let i = index">
    <h2 color="pink">lesson:{{lesson.number}}</h2>
    <p>{{lesson.title}}</p>
   </div>
   
   </button>
   </ion-content>